@charset "UTF-8";
/* CSS Document */

body{
	background:url(../images/retina_wood.png) repeat;
	font-family:"OpenSansRegular", Arial, Helvetica, sans-serif;
}

/*Logo styling*/

.logo {
	float: left;
	margin: 20px 0 20px 0;
}

/*General styling*/

nav {
	float: left;
}

nav ul{
	float: left;
	margin: 0;
	padding: 0;
	list-style: none;
}

nav ul li{
	float:left;
	margin:0 35px 0 0; 
}

nav ul li a{
	text-decoration:none;
	color:#191d1f;
	font-family:'OpenSansLight', Arial, Helvetica, sans-seirf;
	font-size:18px;
	line-height:17px;
	float:left;
}

nav ul li a:hover{
	color:#f26c4f;
}


.banner{
	float:left;
	width:100%;
	height:395px;
	margin:20px 0 10px 0;
	overflow:none;
}

.banner ul{
	width:100%;
	height:395px;
	margin:0;
	padding:0;
	list-style:none;
}

.banner ul li{
	margin:0;
	padding:0;
}
	
.bannernav {
    float: left;
    width: 100%;
    text-align: center;
}

.bannernav a{
    margin: 0 3px;
    width: 16px;
    height: 16px;
    background: #394045;
    overflow: hidden;
    text-indent: 100px;
    float: none;
    display: inline-block;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}

.bannernav a.activeSlide{
    background-color: #f26c4f
}

/* font style- wt size line ht family*/
section.latestworks h2{
    font: 18px "OpensansLight", Arial, Helvetica, sans-serif;
    color: #4b5053;
    margin: 0;
    padding: 0 0 20px 0;
}


section.latestworks .holder{
    float: left;
    width: 100%;
    height: 201px;
    overflow: hidden;
    position: relative;
    margin: 0 0 20px 0;
}

section.latestworks .holder img{
    position: absolute;
    z-index: 10;
    left: 0;
    top: 0;
}

section.latestworks .holder a.plus{
    position: absolute;
    width: 300px;
    height: 201px;
    background: #000;
    opacity: 0.5;
    z-index: 9;
}